

body 
{
font-family:'Oswald', sans-serif;
color: #000000;
font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
display: flex;
flex-direction:column;
min-height:100vh;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
}
h1
{
flex:1;
margin-left:40%;
font-size: 72px;
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
}
.logo
{
width: 185px;
height: 47px;
background-image: url(images/logo.png);
align-self:center;
}
nav ul
{
list-style: none;
background-color: #444;
text-align: center;
padding: 0;
margin: 0;
}
nav li 
{
font-size: 1.2em;
line-height: 40px;
text-align: left;
} 
nav a 
{
text-decoration: none;
color: #FFF;
display: block;
padding-left: 15px;
border-bottom: 1px solid #888;
transition: .3s background-color;
}
nav a:hover 
{
background-color: #005F5F;
}
nav a.active 
{
background-color: #AAA;
color: #444;
cursor: default;
}
nav li li 
{
font-size: .8em;
}
nav li 
{
width: 130px;
border-bottom: none;
height: 50px;
line-height: 50px;
font-size: 1.4em;
display: inline-block;
margin-right: -4px;
}
nav a 
{
border-bottom: none;
}
nav > ul > li 
{
text-align: center;
}
nav > ul > li > a 
{
padding-left: 0;
}
nav li ul 
{
position: absolute;
display: none;
width: inherit;
}
nav li:hover ul 
{
display: block;
}
nav li ul li 
{
display: block;
}
.hero
{
background-image:url(images/header.jpg);
height:30vh;
flex:1;
background-repeat: no-repeat;
}
header
{
display: flex;
background-color: #444;
color: white;
}
article
{
display: flex;
flex-grow:1;
max-width:100%;
}
h2
{
margin-bottom:5vh;
font-size:xx-large;
}
p
{
font-size:large;
}
section
{
flex-grow:1;
background-image:url(images/Back1.png);
align-self:flex-start;
}
.gris
{
width:4vh;
flex-grow:1;
background-color:#444;
min-width:10px;
}
footer
{
display: flex;
justify-content:space-around;
font-size:large;
padding-top:2vh;
padding-bottom:2vh;
background-color: #444;
color: white;
}
.fond
{
background-color:#FFF5F5;
display: flex;
flex-direction: column;
text-align:center;
padding-right:30vh;
padding-top: 10vh;
padding-left:30vh;
padding-bottom:30vh;
margin-right:20vh; 
margin-bottom:20vh;
margin-left:20vh;
margin-top:10vh;
border-radius:10px 10px;
}
